.logo{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color:#561c24 !important;

}
header{ 
    width: 100vw;
}
.ban{
   height: 80vh;
    width: 100vw;
    position: relative;
   
}
body{
    height: 250vh;
}
.brand_name{
    color: gold;
    font-size: 30px;
    
}
.brand_name:hover{
    color: blanchedalmond;
    text-decoration: none;
}
.navbar{
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #472d2d;
    opacity: 1;
    width: 100%;
    z-index: 1000
}
nav{
    display: flex;
    justify-content: space-between;
}
.company_name{
    color: yellow;
    padding-top: 12px;
    margin-left: 7px;
}
.company_name span{
    color: white;
}
.bg{
    background-color:#472d2d !important;
}
nav li{
    list-style: none;
    display: inline-block;
}
nav li a{
    color:gold;
    font-size:18px;
    font-weight: bold;
    margin-right: 25px;
}
nav li a:hover{
    color: white;
    font-size: 24px;
    transition: 0.2s;
    margin-right: 29px;
    margin-left: 29px;
}

.banner{
    height: 70vh;
    width: 30vw;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    position:relative;
    border-width: 5px;
    background-color: #64748b;
    padding: 20px;
}
.banner .product{
     margin-top: 50px;
     padding-left: 30px;
     width: 100px;
     position:relative;
     left: 35%;
     transform: translateX(-20%);
     z-index: 1;
     transition: 0.7s;
     --left:-12px;
}

.banner .product .cup{
    background: url("mockup.png")  ,
                 var(--url) var(--left),0;
    background-size:auto 120%;
    background-repeat: no-repeat,repeat;
    height: 150px;
    width: 75px;
    aspect-ratio: 2/5;
   background-blend-mode:multiply;  
    mask-image: url("mockup.png");
    mask-size: auto 100%;
    transition: 0.7s;
    position:relative;
    object-fit:contain;
    padding: 20px;
  
}
.banner .product:hover{
  --left:-484px;
  transform: translateX(-20%) translateY(-20%) ;
  opacity: 1;
}

.tag-list{
    width: 70vw;
    height:20vh ;
    left: 25%;
    position: absolute;
    overflow: hidden;
    margin-left: 4px;
}
.inner{
  width: fit-content;
  display: flex;
  gap:   1rem;
  animation: loop 5s linear infinite;

}
.tag{
   display: flex;
   align-items: center;
   gap: 0 0.2rem;
   color: #e2e8f0;
   font-size: 0.9rem;
   background-color: #334155 ;
   padding: 0.7rem 1rem;
   border-radius:0.4rem ;
   box-shadow:
   0 0.1rem 0.2rem #000033 ,
   0 0.1rem 0.5rem #00004d ,
   0 0.1rem 1.5rem #000033 ;   

}
.tag span{
    font-size: 1.2rem;
    color: #64748b;
}
.fade{
    position: relative;
    background:linear-gradient(90deg,#1e293b,transparent 30%,
    transparent 70%,#1e293b);
    inset:0;
    pointer-events:none;
}
@keyframes loop{
    0%{
        transform:translateX(0) ;
    }
    100%{
        transform:translateX(-20%) ;
    }
}


.inner:hover{
    animation:reverse;
}
.contact_card{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: navy;
  margin-top: 50px;
  height: 80vh;
  color: white;
  padding: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
ul{
    list-style: none;
    font-size: 25px;
    left: 20px;
}
.logo1{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  
}
ul li:hover{
    color: gold;
    text-decoration: underline;
    font-size: 25;
}
.im{
   height: 30px;
   width: 30px;
   background-color: #561c24;
   padding: 4px;
   border-radius: 25%;
}
.ap1{
font-family:'Courier New', Courier, monospace;
font-size: 60px;
font-weight: bold;
margin-left: 15px;

}
.ap2 {
 font-style: italic;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: lightcyan;
 border-radius: 20px;
 padding: 30px;
 margin-bottom: 30px;
 margin-top: 30px;
}
.banner:hover{
  border-color: burlywood;
  border-width: 40px;

}
.lid_1{
    font-size: 30px;
    font-style: italic;
    margin-left: 30px;
    font-weight:bold ;
    background-color: aqua;
    height: 12vh;
    padding: 15px;
    padding-top:18px;
   border-radius: 10px;
   padding-right: 15px;
    
}
.policies{
    padding-right: 500px;
     
}
.menu{
    color: gold;
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    font-size: 100px;
    font-weight: bold;
    text-decoration-line: underline black;
}
